<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Transaction</title>
</head>
<body>
    <h1>Create a Transaction</h1>
    <form action="/transaction/create_transaction" method="post">
        <!-- <label for="sender">Sender Public Key:</label><br>
        <input type="text" id="sender" name="sender"><br> -->

        <label for="receiver">Receiver Public Key:</label><br>
        <input type="text" id="receiver" name="receiver"><br><br>

        <label for="amount">Amount:</label><br>
        <input type="text" id="amount" name="amount"><br><br>

        <label for="message">Message:</label><br>
        <input type="text" id="message" name="message"><br><br>

        <label for="type">Type of Transaction:</label><br>
        <select id="type" name="type">
            <option value="coins">Send coins</option>
            <option value="message">Send message</option>
        </select><br><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
